body {
background: blueviolet;
font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 350px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 128, 0.445);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}